numpy==1.24.4
nltk==3.8.1
spacy==3.6.1
transformers==4.31.0
torch==2.0.1
jupyter==1.0.0
ipykernel==6.25.2
matplotlib==3.7.2
scipy==1.11.3
pandas==1.5.3
keras==2.11.0
scikit-learn==1.2.2
tqdm==4.65.0
h5py==3.8.0
gensim==4.3.1
